@page
@model AlbumList.Pages.ArtistsModel
@{
    ViewData["Title"] = "Top Artists";
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: left;
    }
</style>
<body>
    <header>
        <div>
            <span class="text-dark" style="font-size:90px">
                Our Favorite Artists
            </span>
        </div>
    </header>
    <div>
        <h3>Music is art.</h3>
        <p>And every work of art must be crafted by an artist. Here are some of our favorites.</p>
        <div class="grid-container">
            <div class="grid-item">
                <h2>Frank Ocean</h2>
                <iframe src="https://open.spotify.com/embed/artist/2h93pZq0e7k5yf4dywlkpM?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="grid-item">
                <h2>Aphex Twin</h2>
                <iframe src="https://open.spotify.com/embed/artist/3lWVgSwutPsiJ8Awm7OTKU?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="grid-item">
                <h2>Radiohead</h2>
                <iframe src="https://open.spotify.com/embed/artist/4Z8W4fKeB5YxbusRsdQVPb?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <h2>Kankan</h2>
                <iframe src="https://open.spotify.com/embed/artist/7tFehEdzjjoeiwUExR89qs?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="grid-item">
                <h2>SoFaygo</h2>
                <iframe src="https://open.spotify.com/embed/artist/2SJhf6rTOU53g8yBdAjPby?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="grid-item">
                <h2>Eyedress</h2>
                <iframe src="https://open.spotify.com/embed/artist/3XxNRirzbjfLdDli06zMaB?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </div>
    </div>
</body>