@{
    ViewData["Title"] = "Home page";
}
<body>
    <header>
        <div>
            <span class="text-dark" style="font-size:90px">
                AlbumList Music Journal
            </span>
            <p>Our group created AlbumList to serve as a journal about our common hobby, music. <br />
            We all enjoy listening to music and this application serves as a platform for us to keep track of that activity.</p>
        </div>
    </header>
    <div>

    </div>
</body>
