@page
@model AlbumList.Controllers.HomeController
@{
    // ViewData["Title"] = "Live Music";
}
<body>
    <header>
        <div>
            <span class="text-dark" style="font-size:90px">
                Live Music
            </span>
        </div>
    </header>
    <div>
        <h3>We love live music.</h3>
        <div>
            <p>Nothing quite beats the thrill and excitement of seeing your favorite artist live for the first time. Sadly, in recent years it's been increasingly difficult to make it out to live shows, but that won't stop us from sharing a couple flicks from shows that we've been to!</p>
            <img src="https://i.imgur.com/kDor2ra_d.webp?maxwidth=1520&fidelity=grand" style="width:100%;max-width:1000px;max-height:1000px">
            <h6><i>Car Seat Headrest</i> - Corey</h6>
            <img src="https://i.imgur.com/skslCbY.jpg" style="width:100%;max-width:1000px;max-height:1000px">
            <h6><i>Motion City Soundtrack</i> - Corey</h6>
            <img src="https://i.imgur.com/cAfHrVy.png" style="width:100%;max-width:1000px;max-height:1000px">
            <h6><i>Brockhampton</i> - Corey</h6>

        </div>
    </div>
</body>