@page
@model AlbumList.Pages.AlbumsModel
@{
    ViewData["Title"] = "Top Albums";
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: left;
    }
</style>
<body>
    <header>
        <div>
            <span class="text-dark" style="font-size:90px">
                Our Favorite Albums
            </span>
        </div>
    </header>
    <div>
        <h3>Albums, Records, LPs, etc....</h3>
        <p>Whatever you call em, here are some of our picks.</p>
        <div class="grid-container">
            <div class="grid-item">
                <h2>Darklands</h2>
                <iframe src="https://open.spotify.com/embed/album/1vtsYpapUeoDNMJOWRql9b?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>           </div>
            <div class="grid-item">
                <h2>At the Moonbase</h2>
                <iframe src="https://open.spotify.com/embed/album/2t4GC7jaWnVGFqIdusEjSA?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>            </div>
            <div class="grid-item">
                <h2>Codes and Keys</h2>
                <iframe src="https://open.spotify.com/embed/album/26HVbJdxW1zC799gz8yzUr?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>            </div>
        </div>
    </div>
</body>