@model AlbumList.Models.ListensModel
@{
    //ViewData["Title"] = "Add A Song";
}

<body>
    <header>
        <div>
            <span class="text-dark" style="font-size:90px">
                Add A Song
            </span>
        </div>
    </header>

    <form asp-action="Add" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Artist"></label>
            <input asp-for="Artist" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Album"></label>
            <input asp-for="Album" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Rating"></label>
            <input asp-for="Rating" class="form-control" />
        </div>
        <button type="submit" class="btn btn-dark">Add</button>
    </form>
</body>
